<ion-view view-title="Contact Us">
  <ion-content>
	 <div class="card">
        <div class="item item-divider">
            Location Information
		</div>
		 <p>Our Address</p>
		 <p>701, BriarCliff Avenue</p>
		 <p>Oak Ridge, TN, 37830</p>
		 <p>USA</p>
		 <p><i class="ion-android-call"></i>Tel: +865 556 5257</p>
		 <p><i class="icon ion-printer"></i>Fax: +865 876 4321</p>
		 <p><i class="icon ion-email-unread"></i>Email:meghabghagv@roanestate.edu</p>
     
	  <div class="button-bar">
		  <a class="button button-positive">
              <i class="ion-android-call"></i> Call</a>
		  <a class="button button-calm">
              <i class="icon ion-social-skype-outline"></i> Skype</a>
		  <a class="button button-balanced">
              <i class="icon ion-ios-email-outline"></i>  Email</a>
       </div>
	</div>
  </ion-content>
</ion-view>