

<ion-view view-title="Contact Us">
  <ion-content>
    
  	<div class="card">
  		<div class="item item-divider">
			Location Information
  		</div>
  		<div class="item item-text-wrap">
  			<h2>Our Address</h2>
  			121, Clear Water Bay Road<br>
  			Clear Water Bay, Kowloon<br>
  			HONG KONG<br>
  			<i class="icon ion-android-call"></i>: +852 1234 5678<br>
  			<i class="icon ion-printer"></i>: +852 8765 4321<br>
  			<i class="icon ion-android-mail"></i>: 
  			<a href="mailto:confusion@food.net">confusion@food.net</a><br>
        <br>
  		</div>
  		<div class="button-bar">
  			<a class="button icon ion-android-call button-positive" href="tel+85212345678"> Call</a>
  			<a class="button icon ion-social-skype button-calm"> Skype</a>
  			<a class="button icon ion-android-mail button-balanced" href="mailto:confusion@food.net"> Email</a>
  		</div>












  	</div>

  </ion-content>
</ion-view>


<!---->